modules/guilecraft.dtd

<!DOCTYPE module [

<!ELEMENT module (tag,title?,creators?,max-active-streams?,(stream*|open_problem*))>
<!ELEMENT tag (#CDATA)>
<!ELEMENT title (#CDATA)>
<!ELEMENT creators (#CDATA)>
<!ELEMENT max-active-streams (#CDATA)>
<!ELEMENT stream (tag,title?,creators?,max-active-streams?,(stream*|open_problem*))>
<!ELEMENT open_problem (question,solution)>
<!ELEMENT question (#CDATA)>
<!ELEMENT solution (#CDATA)>
]>


